body {
  background-color: lightgray;
}
.fa {
  color: rgb(94, 137, 231);
}
a {
  border-bottom: 1px solid rgb(75, 75, 231);
}
.Box-part {
  background-color: white;
  margin: 20px 0px;
  padding: 20px 10px;
}
.text {
  margin: 20px 0px;
}
.box {
  padding: 60px 0px;
}
